*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
img{
	width: 100%;
}
.header>.header_item:nth-child(2){
	padding:30% 25px 0px 25px;
}
.header_succ{
	text-align: center;
	font-size: 28px;
	color: #20b4c0;
	margin-top:8px;
}
.header_btn{
	padding-bottom: 30px;
}
.header_btn .header_btn_return{
	display: block;
	width: 45%;
	color: #eee;
	text-align: center;
	font-size: 18px;
	line-height: 1.8;
	background-color: #f39d9c;
	border-radius: 15px;
	margin: auto;
	margin-top: 20%;
	font-weight: 100;
}