*{
	margin:0px;
	padding:0px;
	text-decoration: none;
}
img{
	width: 100%;
}
.body{
	background-color: #faf2dd;
}
.container_img_hea{
	/*background-color: red;*/
	position: relative;
}
.container_img .container_img_hea>.container_img_hea_item{
	display: block;
}
.container_img .container_img_hea>.container_img_hea_item:first-child{
	
}
.container_img .container_img_hea>.container_img_hea_item:nth-child(2){
	position: absolute;
	bottom: 0px;
	z-index: 100;
}
.container_img .container_img_hea .container_img_info{
	position: absolute;
	bottom: 0px;
	z-index: 200;
	width: 100%;
	color:#bbb;
}
.container_img .container_img_hea .container_img_info>.container_img_info_item>.container_img_address:first-child{
	width: 50px;
	float: left;
	text-align: right;
	font-weight: 100;
	font-size: 15px;
}
.container_img .container_img_hea .container_img_info>.container_img_info_item>.container_img_address:nth-child(2){
	width: 17px;
	float: left;
	padding-left:5px;
}
.container_img .container_img_hea .container_img_info>.container_img_info_item:nth-child(3){
	width: 100px;
	text-align:center;
	float: right;
	font-weight: 100;
	font-size: 15px;
}
.container .container_lawyer_name{
	font-size: 28px;
	text-align: center;
	color: #000;
	padding:8px 0;
	/*font-weight: 500;*/
}
.container_lawyer_intro{
	color:#eee;
	text-align: center;
}
.container_lawyer_intro .container_lawyer_intro_item{
	width: 15%;
	border-radius: 3px;
	padding: 1px 0;
	font-size: 15px;
}
.container_lawyer_intro .container_lawyer_intro_item:nth-child(2){
	background-color: #6695e3;
	width: 30%;
}
.container_lawyer_intro .container_lawyer_intro_item:nth-child(4){
	background-color: #f39d9c;
	width: 30%;
}
.container_lawyer_info{
	margin-top: 25px;
	text-align: center;
	border-top: 2px solid #bbb;
}
.container_lawyer_info .container_lawyer_info_item{
	padding:5px 0;
	border-bottom: 3px solid #bbb;
}
.container_lawyer_info .container_lawyer_info_item .info_item_btn{
	color:#000;
}
.container_lawyer_info .container_lawyer_info_item .item_onselected{
	color: #6695e3;
}
.container_lawyer_info .container_lawyer_info_item:nth-child(3){
	border-bottom: 3px solid #6798e5;
}


.container_eva{
	margin-top:20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.container_eva>.container_eva_item:first-child{
	width: 15%;
	padding-left: 19px;
	padding-right: 5px;
}
.container_eva>.container_eva_item:nth-child(2){
	width: 85%;
	color: #111;
}
.container_eva>.container_eva_item:nth-child(2) .container_eva_item_span{
	color: #299fc7;
}
.container .container_user_info{
	padding-top:10px;
}
.container .container_user_info>.container_user_info_item:first-child{
	width: 14%;
	padding-left: 20px;
	padding-right: 7px;
}
.container .container_user_info>.container_user_info_item:nth-child(2){
	width: 45%;
	color: #aaa;
	line-height: 1.7;
	font-size: 14px;
}
.container .container_user_info>.container_user_info_item:nth-child(3){
	width: 40%;
	color: #aaa;
	line-height: 1.7;
	font-size: 14px;
	text-align: center;
}
.container .container_user_rating{
	padding-left: 14%;
	padding-right: 14%;
	color: #999;
	font-size: 14px;
	padding-bottom: 15px;
	border-bottom: 1px solid #bbb;
}

