<style type="text/css">
    .row-item{margin-bottom: 20px !important;}
	.row-item label{color: #999;}
	.p25{padding: 25px;}
	#remarks{
		height: 95px;
	}
	
	ul.member-list{
		margin: 0;
	    padding: 0;
	    display: block;
	}
	
	ul.member-list li{
		margin-right: 12px;
	    margin-bottom: 8px;
	    float: left;
	    list-style-type: none;
	}
	
	ul.member-list li a{
		position: relative;
	}
	
	ul.member-list li a .lc-avatar{
		display: inline-block;
	}
	
	ul.member-list li a .avatar-close{
		background-image: url(https://cdn.worktile.com/pro/image/app/lc-close.png);
	    position: absolute;
	    top: -6px;
	    right: -6px;
	    display: inline-block;
	    width: 13px;
	    height: 13px;
	    background-size: cover;
	    visibility: hidden;
	    cursor: pointer;
	    z-index: 99999;
	}
	
	.member-panel-body li.member{
		list-style-type: none;
        position: relative;
        cursor: pointer;
	}
	
	.member-panel-body li.member:hover{
		background: #eaeaea;
        text-decoration: none;
	}
	
	.member-panel-body li.member .lc-avatar,.member-panel-body li.member a{
		display: block;
	    padding: 5px 10px;
	    line-height: 30px;
	    color: #333;
	    border-radius: 3px;
	}
	
	.member-panel-body li.member .lc-avatar img{
		float: left;
	    width: 30px;
	    height: 30px;
	    border-radius: 3px;
	    margin-right: 10px;
	}
	
	.member-panel-body li.member .lc-avatar .lc-avatar-name{
		display: block;
	}
	
	.member-panel-body li.member .lc-check{
		position: absolute;
	    top: 7px;
	    right: 7px;
	}
</style>
<div class="manage-wrapper p25">
	<div id="manage-wrap" class="manage-wrap">
		<form id="manage-form" action="">
			<ul class="mod-form-rows base-form cf" id="base-form">
				<li class="row-item">
    				<div class="ctn-wrap"><input placeholder="项目名称" type="text" class="form-control" /></div>
    			</li>
    			<li class="row-item">
    				<div class="label-wrap"><label for="name">级别</label></div>
    				<div class="ctn-wrap"><span id="type"></span></div>
    			</li>
    			<li class="row-item">
    				<div class="label-wrap"><label for="name">项目负责人</label></div>
    				<div class="ctn-wrap">
    					<ul></ul>
    					<a id="btn_addCharnge" href="javascript:;" class="btn btn-white btn-circle"><i class="fa fa-plus"></i></a>
    				</div>
    			</li>
    			<li class="row-item">
    				<div class="label-wrap"><label for="name">项目成员</label></div>
    				<div class="ctn-wrap">
    					<ul id="member-list" class="member-list">
    						<li class="member">
    							<a href="javascript:;">
    								<div class="lc-avatar lc-avatar-40">
    									<img src="../../../img/avatar.jpg" class="member-avatar-30"  />
    								</div>
    								<span class="avatar-close"></span>
    							</a>
    						</li>
    						<li class="member">
    							<a href="javascript:;">
    								<div class="lc-avatar lc-avatar-40">
    									<img src="../../../img/avatar.jpg" class="member-avatar-30"  />
    								</div>
    								<span class="avatar-close"></span>
    							</a>
    						</li>
    					</ul>
    					<a id="btn_addManber" href="javascript:;" class="btn btn-white btn-circle"><i class="fa fa-plus"></i></a>
    				</div>
    			</li>
    			<li class="row-item">
    				<div class="label-wrap"><label for="name">审批人</label></div>
    				<div class="ctn-wrap">
    					<ul class="approver-list">
    						<li class="avatar-approver">
    							<a href="javascript:;" class="approver">
    								<div class="lc-avatar lc-avatar-40">
    									<img class="lc-avatar-avatar" src="../../../img/avatar.jpg"  />
    								</div>
    								<span class="avatar-close"></span>
    							</a>
    							<span class="divider">
    								<hr>
    								<span class="circle red"><span class="circle-bg red"></span></span>
    							</span>
    						</li>
    						<li class="avatar-approver">
    							<a href="javascript:;" class="approver">
    								<div class="lc-avatar lc-avatar-40">
    									<img class="lc-avatar-avatar" src="../../../img/avatar.jpg"  />
    								</div>
    								<span class="avatar-close"></span>
    							</a>
    							<span class="divider">
    								<hr>
    								<span class="circle"><span class="circle-bg"></span></span>
    							</span>
    						</li>
    					</ul>
    					<a id="btn_sp" href="javascript:;" class="btn btn-white btn-circle"><i class="fa fa-plus"></i></a>
    				</div>
    			</li>
    			<li class="row-item">
    				<div class="label-wrap"><label for="name">起止时间</label></div>
    				<div class="ctn-wrap">
    					<div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start" value="2014-11-11">
                            <span class="input-group-addon">到</span>
                            <input type="text" class="input-sm form-control" name="end" value="2014-11-17">
                        </div>
    				</div>
    			</li>
    			<li class="row-item">
		            <div class="ctn-wrap">
		            	<textarea name="remarks" id="remarks" placeholder="这里可添加项目描述" class="form-control"></textarea>
		            </div>
		        </li>
			</ul>
		</form>
	</div>
</div>
<!-- 用户树模板 -->
<script id="groupTreeTemp" type="text/html">
	<ul class="lc-tree">
		{{each list as item i}}
		<li class="member">
			<a href="javascript:;" class="lvl0">
				<span class="expand-tree-icon"><i class="fa fa-caret-right "></i></span>
				<span>
					<i class="lcfont lc-department-o"></i>
					<span class="title">
						<span class="ng-binding">{{item.text}}</span>
						<span class="title-desc ng-binding">( 2人 )</span>
					</span>
				</span>
			</a>
			<ul data-ul="ul-{{item.id}}" style="display: none;">
				<li>
					{{each item.nodes as nod j}}
					<a class="lvl0 member-item" href="javascript:;" data-name="{{nod.text}}" data-userid="member-{{nod.id}}" data-selected="{{nod.selected ? 0 : 1}}">
						<img class="member-avatar-30" src="../../../img/avatar.jpg" />
						<span class="flex-se1 text-overflow pl5">{{nod.text}}</span>
						{{if nod.selected}}
						<i class="fa fa-check"></i>
						{{/if}}
					</a>
					{{/each}}
				</li>
			</ul>
		</li>
		{{/each}}
	</ul>
</script>
<!-- 用户列表模板 -->
<script id="memberLiTemp" type="text/html">
	<div class="member-panel-body">
		<ul>
			{{each list as item i}}
			<li class="member">
				<div class="lc-avatar lc-avatar-30 ">
					<img src="{{item.img}}" class="lc-avatar-avatar member-avatar-30" />
					<div class="lc-avatar-name">{{item.name}}</div>
				</div>
				{{if item.selected}}
				<i class="lc-check fa fa-check"></i>
				{{/if}}
			</li>
			{{/each}}
		</ul>
	</div>
</script>
<script type="text/javascript" src="../../../js/app/oa/project/add.js" ></script>