<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>企业注册</title>
		<link rel="stylesheet" href="../../js/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../css/register.css" />
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-logo">企业注册</span>
				</div>
			</div>
		</nav>
		<div id="content">
			<div class="container" >
				<div class="regPanel">
					<div class="header">
						<title>企业注册</title>
						<a href="../../login.html" class="back">返回登陆</a>
					</div>
					<div class="container">
						<from>
							<div class="form-group mt10">
								<div class="input-group">
						            <input id="3" class="form-control" placeholder="企业名称" type="text" />
						        </div>
							</div>
							<div class="form-group mt10">
								<div class="input-group">
						            <input id="1" class="form-control" placeholder="手机号码" type="text" />
						        </div>
							</div>
							<div class="form-group mt10">
								<div class="input-group phone-group">
						            <input id="2" class="form-control" placeholder="验证码" type="text" />
						        </div>
							</div>
							<div class="form-group mt10">
								<div class="input-group">
						            <input id="3" class="form-control" placeholder="密码" type="text" />
						        </div>
							</div>
							<input id="but_login" class="btn btn-lg btn-block submit mt30" data-loading-text="注册提交..." autocomplete="off" type="button" value="注册" />
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
