/* CSS Document */
html{
	height:100%;
	
}
body{
	background-color:#CCFFFF;
	margin:0px;
	height:98%;
	border-right:4px solid #FFFF00;
}

.i_container{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
	position:relative;
	top:10px;
}


.nav {
	padding-left: 10px;
}

.i_container .nav .panel{
	margin:0px;
}

.i_container .nav .panel .ctrl_btn .btn-primary{
	background-color:#66CCCC;
}
.i_container .nav .panel .ctrl_btn a:hover{
	background-color:#99CCFF;
}

.i_container .nav .panel .ctrl_btn a:focus{
	background-color:#99CCFF;
}

.i_container .nav .panel .ctrl_btn .btn{
	display:block;
	text-align:left;
}

.i_container .nav .panel .ctrl_item_list{
	
}

.i_container .nav .panel .ctrl_item_list .list-group{
	margin:0px;
}

.i_container .nav .panel .ctrl_item_list .list-group .list-group-item{
	background-color:#AFD8FF;
	padding:0px;
}

.i_container .nav .panel .ctrl_item_list .list-group .url_grp_item{
	background-color:#AFD8FF;
	padding:5px 10px;
}

.i_container .nav .panel .ctrl_item_list .list-group .list-group-item .url_item{
	color:#FC7E7E;
	display: block;
	padding: 5px 0;
}

.i_container .nav .panel .ctrl_item_list .list-group .list-group-item .url_item:hover{
	color:#FF0033;
}

.i_container .nav .panel .ctrl_item_list .list-group .list-group-item a{
}
.i_container .nav .panel .ctrl_item_list .list-group .list-group-item a:hover{
	
}







