/* CSS Document */
html,body{
	margin: 0;
	padding: 0;
	font-family: "黑体";
}

img{
	width: 100%;
}

a{
	text-decoration: none;
	color: #000000;
}

.dis_area a{
	display: block;
}


/*表头*/
.i_header{
	position: fixed;
	width: 100%;
	background-color: #FFFFF0;
	z-index: 1000;
	top: 0;
}

.i_header{
	background-color: transparent;
	font-size: 0px;
	z-index: 2;
}

.i_header .h_item{
	margin: 0 auto;
	padding: 5px 0;
}
.i_header .h_item:nth-child(1){
	padding-left: 15px;
	padding-right: 18%;
}
.i_header .h_item:nth-child(3){
	padding-left: 18%;
	padding-right: 15px;
}

/*表头结束*/


/*分割线*/
.dlt_line{
	width: 100%;
	height: 8px;
	background-color: #E1DEE1;
}

.sub_dlt_line{
	width: 100%;
	height: 4px;
	background-color: #E1DEE1;

}

.third_dlt_line{
	width: 100%;
	height: 2px;
	background-color: #E1DEE1;

}

/*分割线结束*/

/*底部导航栏*/
.i_footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #37B9B9;
	z-index: 1000;
	font-size:0px;
	padding-bottom: 0px;
}

.i_footer .btn_item{
	padding: 5px 6%;
	font-size:0px;
}
.i_footer .btn_item a{
	margin: 0;
	padding: 0;
	font-size:0px;
}



.hold_area .btn_item{
	padding: 5px 6%;
	font-size:0px;
}



/*价格单位的标志*/
.price_unit_sym{
	position: relative;
	left: 0px;
}

.price_unit_sym .pus_item{
	width: 0;
	height: 0;
	font-size: 0;
}

.price_unit_sym .pus_up_tri1{
	border-style: solid;
	border-width: 10px 10px 0px 10px;
	border-color: #E9561A transparent transparent transparent;	

	position: absolute;
}

.price_unit_sym .pus_up_tri2{
	border-style: solid;
	border-width: 6px 6px 0px 6px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	left: 4px;
}

.price_unit_sym .pus_hline1{
	border-style: solid;
	border-width: 2px 6px 2px 6px;
	border-color: #E9561A #E9561A #E9561A #E9561A;
	position: absolute;
	left: 4px;
	top: 5px;
}

.price_unit_sym .pus_hline2{
	border-style: solid;
	border-width: 2px 6px 2px 6px;
	border-color: #E9561A #E9561A #E9561A #E9561A;
	position: absolute;
	left: 4px;
	top: 11px;
}

.price_unit_sym .pus_vline{
	border-style: solid;
	border-width: 7px 2px 7px 2px;
	border-color: #E9561A #E9561A #E9561A #E9561A;
	position: absolute;
	left: 8px;
	top: 8px;
}
/*价格单位的标志结束*/

