*{
	margin:0px;
	padding: 0px;
	/*font-family: "微软雅黑";*/
}
img{
	width: 100%;
}
.container .container_com{
	padding:8px 0px 10px 10px;
	border-bottom: 1px solid #bbb
}
.container .container_com>.container_com_item:first-child{
	width: 25%;
}
.container .container_com>.container_com_item:nth-child(2){
	width: 75%;
	padding:10px 0px 0px 10px;
	color: #ff9966;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 300;
}

.container .container_loginfo{
	margin-top:40px;
}
.container .container_loginfo>.container_loginfo_item:first-child{
	width: 10%;
}
.container .container_loginfo>.container_loginfo_item:nth-child(2){
	width: 75%;
	border-left: 1px dashed #bbb;
	padding-left: 10%;
	padding-bottom: 5%;
}
.container .container_loginfo .container_loginfo_details{
	position: relative;
}
.container .container_loginfo .container_loginfo_details>.container_loginfo_details_item{
	width: 100%;
	padding-top:8%;
	padding-left: 15px;
	padding-bottom: 7%;
	border-bottom: 2px solid #ddd;
	font-size: 13px;
	color: #ccc;
	line-height: 1.4;
}
.container .container_loginfo .container_loginfo_details>.container_loginfo_details_item>div:first-child{
	width: 8%;
	position: absolute;
	left: -4%;
}