*{
	margin: 0px;
	padding:0px;
	text-decoration: none;
	/*font-family: "微软雅黑";*/
	/*font-size: 0px;*/
}
body{
	background-color: #efefef;
}
img{
	width: 100%;
}
.container_cart{
	position: relative;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	overflow: hidden;
	border-bottom: 2px solid #ddd;
}
.container_cart .container_cart_img{
	padding-left:7px;
	width: 28%;
	padding-bottom: 5px;
}
.container_cart .container_cart_info{
	/*position: relative;*/
	padding-left:15px; 
	color: #000;
	width: 50%;
	font-size: 14px;
}
.container_cart .container_cart_info>.container_cart_info_btn{
	color: #000;
	font-size: 3.6vmin;
}
.container_cart .container_cart_info>.container_cart_info_item:nth-child(2){
	color: #ff6074;
	font-size: 5vmin;
	font-weight: 700;
	margin-top:5px;
	/*position: absolute;
	bottom: 10px;*/
}
.container_cart .container_cart_info>.container_cart_info_item:nth-child(3){
	float: right;
	font-size: 4vmin;
	margin-right: 30px;
	margin-top: 8px;
}
.container_cart .container_cart_select{
	color: #000;
	width: 22%;
	padding-right: 10px;
}
.container_cart .container_cart_select>.container_cart_select_item:first-child{
	color:#f3950f;
	font-size: 6vmin;
	text-align: center;
	margin-top:5px;
}
.container_cart .container_cart_select>.container_cart_select_item:nth-child(2){
	margin-top: 10px;
}
.container_cart .container_cart_select>.container_cart_select_item:nth-child(2) .mycanvas{
	float: right;
	margin-right: 15%;
	padding-bottom: 40%;
}
.container_cart .container_cart_select>.container_cart_select_item:nth-child(3){
	width: 22%;
	background-color: #e70012;
	text-align:center;
	border-radius: 5px;
	position: absolute;
	right: 3%;
	bottom: 10px;
	line-height: 1.9;
	color: white;
	font-size:4.5vmin;
}
.container_cart .container_cart_select>.container_cart_select_item:nth-child(3) .refund_btn{
	color: white;
	display: block;
	width: 100%;
}

.container_cart>.container_cart_item:nth-child(4){
	width: 0%;
}