body {
	background-color: #E1E1E1;

}
.mdc_intro_list_area{
}

.mdc_intro_list_area .mdc_intro_con{
	padding: 10px 20px;
	background-color: #ffffff;
	margin-top: 10px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	
}

.mdc_intro_list_area .mdc_intro_con:nth-child(1){
	margin-top: 0px;
	border-top: 0px solid #000000;
	
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item:nth-child(1){
	width: 40%;
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item:nth-child(2){
	width: 60%;
	padding-left: 10px;
	font-size: 20px;
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item .mdi_info_item{
	margin-top: 10px;
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item .mdi_price{
	margin-top: 30px;
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item .mdi_info_item .mdii_item:nth-child(1){
	text-align: right;
	padding-right: 25px;
}

.mdc_intro_list_area .mdc_intro_con .mdi_ic_item .mdi_info_item .mdii_item:nth-child(2){
	color: #EEAD63;
}

