.article_detail_area{
	margin-top: 5px;
	padding: 0 10px;
}

.article_detail_area .title_intro_con{

}


.article_detail_area .title_intro_con .ti_tile{
	padding-left: 10px;
	font-size: 20px;
}

.article_detail_area .title_intro_con .ti_time{
	padding-top: 10px;
}






