<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>人事档案</title>
		<link rel="stylesheet" href="../../../js/lib/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../css/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="../../../css/hplus.css" />
		<link rel="stylesheet" href="../../../css/ui.min.css" />
		<link rel="stylesheet" href="../../../css/common.css" />
	</head>
	<body>
		<div class="wrapper">
			<div class="mod-search cf">
				<div class="fl">
					<ul class="ul-inline">
						<li>
							<input type="text" id="matchCon" class="ui-input ui-input-ph" value="XXXX" />
						</li>
						<li>
				            <label>日期:</label>
				            <input type="text" id="beginDate" value="2016-06-08" class="ui-input ui-datepicker-input">
				            <i>-</i>
				            <input type="text" id="endDate" value="2016-06-14" class="ui-input ui-datepicker-input">
				        </li>
				        <li>
				        	<a class="mrb more" id="moreCon">(高级搜索)</a>
				        	<a class="btn btn-white btn-bitbucket">
	                            <i class="fa fa-search"></i>
	                        </a>
				        </li>
					</ul>
				</div>
				<div class="fr">
					<a class="ui-btn ui-btn-sp" id="add" href="javascript:void(0);">滑动弹窗</a>
					<a class="ui-btn" id="openWin" target="_blank" href="javascript:void(0);">弹窗</a>
					<a href="#" class="ui-btn" id="btn-batchDel">删除</a>
				</div>
			</div>
			<div class="grid-wrap">
				<table id="grid"></table>
				<div id="page"></div>
			</div>
		</div>
		
		<script type="text/javascript" src="../../../js/lib/jquery.js" ></script>
		<script type="text/javascript" src="../../../js/lib/bootstrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../../../js/lib/i18n/grid.locale-cn.js" ></script>
		<script type="text/javascript" src="../../../js/lib/jquery.jqGrid.min.js" ></script>
		<script type="text/javascript" src="../../../js/lib/plugins.js" ></script>
		<script type="text/javascript" src="../../../js/common.js" ></script>
		<script type="text/javascript" src="../../../js/app/hr/records/main.js" ></script>
	</body>
</html>
